<!DOCTYPE html>
<html>
<head>
    <title>XProgramming.com</title>
    <link rel="stylesheet" href="/css/xprog.css">
</head>
<body>
    <header>
        <h1>XProgramming.com</h1>
    </header>
    <nav>
        <ul>
            <li>who</li>
            <li>what</li>
            <li>where</li>
            <li>why? because we like you.</li>
        </ul>
    </nav>

    <article>
        <%= @article_content %>
    </article>

    <footer>
        <p>The footer</p>
    </footer>

</body>
</html>