<html>
<head>
    <title>XProg home page</title>
    <!-- load a stylesheet here -->
</head>
<body>

<h1>XProgramming.com</h1>
<h2>Fave</h2>
<%= yield %>

<h2>Article</h2>
<!-- we want an article -->
<%= yield %>
<p>This is at the bottom of the page</p>
</body>
</html>