<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <title>XProg home page</title>
</head>
<body>
   


    <div class="container">
        <h2>Recent Articles</h2>
        <!-- <div style="padding: 0em 5em;"> -->
        <!-- <div class="row"> -->
            
            
                
            <div class="row">
        
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/../public/viewtoday.png" width="75px%"/>
                        <h3>XProg - Progress</h3>
                        <h4>(Articles)</h4>
                    <p>Progress report on the ongoing XProgramming rewrite.</p>

                </div>
        
            <div class="row visible-s-block visible-xs-block">
            </div class="row visible-s-block visible-xs-block">

        
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 0</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
            <div class="row visible-xs-block">
            </div class="row visible-xs-block">
        

        
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 1</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        
            <div class="row visible-s-block visible-xs-block">
            </div class="row visible-s-block visible-xs-block">

        
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 2</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
            </div> 
        

        
            <div class="row">
        
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 3</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        
            <div class="row visible-s-block visible-xs-block">
            </div class="row visible-s-block visible-xs-block">

        
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 4</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        
            <div class="row visible-xs-block">
            </div class="row visible-xs-block">

        
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 5</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        
            <div class="row visible-s-block visible-xs-block">
            </div class="row visible-s-block visible-xs-block">

        
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 6</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        
            </div> 
        
<h2> Test ends above here </h2>
        
            <div class="row">
        
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 7</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        

        
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 8</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        

        
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 9</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        

        
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 10</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        
            </div> 
        

        
            <div class="row">
        
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 11</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        

        
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 12</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        

        
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 13</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        

        
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 14</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        
            </div> 
        

        
            <div class="row">
        
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 15</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        

        
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 16</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        

        
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 17</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        

        
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 18</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        
            </div> 
        

        
            <div class="row">
        
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 19</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
        
        

        
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <img style="float:left; " src="../public/kate.png" width="75px%"/>
                        <h3>Dummy Title 20</h3>
                        <h4>(Kate Oneal)</h4>
                    Dummy Precis which has now been made about as long as the other 
                </div>
                
                
            
        <!-- </div> -->
    </div>

        <hr/>
        <p>This is at the bottom of the page</p>
</body>
</html>

