

html {
    font-family:Georgia,serif;
    font-size: 18px;
    line-height: 20px;
}

body {
    background-color:linen;
}

h1,h2,h3,h4 {
    font-family:Helvetica,sans-serif;
}

#favorites img {
    width: 40px;
}

#recents img {
    width: 50px;
}

.title {
    font-family:Helvetica,sans-serif;
    font-weight: 700;
} 

#favorites .category {
    font-family:Helvetica,sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

#recents .category {
    font-family:Helvetica,sans-serif;
    font-weight: 700;
}

.flex { 
    display: -webkit-flex;
    display: flex;
   
    -webkit-flex-direction: row;
    flex-direction: row;

    -webkit-justify-content: space-around;
    justify-content: space-around;
    
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-align-items: flex-start;
    align-items: flex-start;
    
    -webkit-align-content: flex-start;
    align-content: flex-start;
}

.flex div {
    width: 300px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.flex h2 {
    margin: 0px;
}

.flex div img {
    margin-left: -40px;
    float: left;
}

.flex article {
    margin-left: 5px;
}

