* {
    margin:0;
    padding:0;
}    

html {
    font-family:Georgia,serif;
    font-size: 18px;
    line-height: 20px;
}

body {
    background-color:linen;
}

h1,h2,h3,h4 {
    font-family:Helvetica,sans-serif;
}

#favorites ul li {
    width:33%;
    background-color: lightblue;
    display:inline-block;
    vertical-align: top;
}

#recents ul li {
    width:25%;
    background-color: lightpink;
    display:inline-block;
    vertical-align: top;
}

#favorites .icon > img {
    width: 75px;
}

#recents .icon > img {
    width: 50px;
}

.title {
    font-family:Helvetica,sans-serif;
    font-weight: 700;
} 

#favorites .category {
    font-family:Helvetica,sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

#recents .category {
    font-family:Helvetica,sans-serif;
    font-weight: 700;
}

